.main-container {
	h1 {
		text-align: center;
	}
	color: var(--contrast-text-color);
	font-family: var(--main-font-family);
	.faculty-areas-container {
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		.faculty-area {
			background-color: var(--secondary-bg-color);
			border: 1px solid black;
			cursor: pointer;
			margin: 10px;
			padding: 30px;
		}
	}
	.faculties-container {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		.link {
			width: 100%;
			background-color: var(--secondary-bg-color);
			border: 1px solid black;
			border-radius: 3px;
			padding: 10px;
			margin: 10px;
			text-decoration: none;
			color: inherit;
			cursor: pointer;
		}
		.exit-btn {
			cursor: pointer;
		}
	}
}
