:root {
	--primary-bg-color: #18191a;
	--secondary-bg-color: #242526;
	--logo-color: #60b0f4;
	--primary-text-color: #e4e6eb;
	--border-color: #4c4f52;
	--searchbar-text-color: #9ea0a4;
	--searchbar-bg-color: #4c4f52;

	--main-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Ubuntu, Cantarell, Oxygen, Roboto, Helvetica, Arial, sans-serif;
}
