:root {
	--primary-bg-color: #18191a;
	--secondary-bg-color: #242526;
	--searchbar-bg-color: #4c4f52;
	--primary-text-color: #e4e6eb;
	--contrast-text-color: #ffffff;
	--error-text-color: #d93535;
	--searchbar-text-color: #9ea0a4;
	--border-color: #4c4f52;
	--logo-color: #60b0f4;

	--main-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Ubuntu, Cantarell, Oxygen, Roboto, Helvetica, Arial, sans-serif;
}

.error-msg {
	text-align: center;
	color: var(--error-text-color);
	font-family: var(--main-font-family);
}
.hide {
	display: none;
}

.loading {
	background: linear-gradient(
		-45deg,
		var(--primary-bg-color),
		var(--secondary-bg-color)
	);
	background-size: 400% 400%;
	animation: gradient 1.5s ease infinite;
	color: transparent;

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
}
