.latest-posts-container {
	.latest-post {
		margin: 5px 0;
		padding: 0 5px;
		background-color: var(--secondary-bg-color);
		border: 1px solid var(--border-color);
		border-radius: 5px;
		> * {
			margin: 8px 0;
		}
	}
	h1 {
		margin: 0 0 5px 0;
	}
}
