.header {
  font-family: var(--main-font-family);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.header .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.header .branding img {
  width: 90px;
  height: 60px;
}

.header .branding h1 {
  font-size: 23px;
  font-weight: 400;
  color: var(--logo-color);
}

.header .link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header .dropdown {
  display: none;
}

.header-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  font-weight: 600;
  font-size: 13px;
  color: var(--contrast-text-color);
}

.header-btns .sign-up-btn,
.header-btns .log-in-btn,
.header-btns .log-out-btn {
  padding: 0 15px;
  text-decoration: none;
  cursor: pointer;
}

.header-btns .log-out-btn {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@media only screen and (max-width: 700px) {
  .header h1 {
    display: none;
  }
  .header .header-btns {
    display: none;
  }
  .header .dropdown {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    width: 50px;
  }
  .header .dropdown .dropdown-burger, .header .dropdown .dropdown-exit {
    height: 4px;
    width: 30px;
    background-color: var(--logo-color);
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header .dropdown .dropdown-burger::before, .header .dropdown .dropdown-exit::before, .header .dropdown .dropdown-burger::after, .header .dropdown .dropdown-exit::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: var(--logo-color);
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header .dropdown .dropdown-burger::before, .header .dropdown .dropdown-exit::before {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .header .dropdown .dropdown-burger::after, .header .dropdown .dropdown-exit::after {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  .header .dropdown .dropdown-exit {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  .header .dropdown .dropdown-exit::before {
    background-color: transparent;
  }
  .header .dropdown .dropdown-exit::after {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
}
/*# sourceMappingURL=NavBar.css.map */