.header {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	color: var(--primary-text-color);
	background-color: var(--primary-bg-color);
	img {
		width: 90px;
		height: auto;
		cursor: pointer;
	}
}
.header-btns {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	font-weight: 600;
	font-size: 13px;
	font-family: var(--main-font-family);
	color: var(--contrast-text-color);
	.sign-up-btn,
	.log-in-btn,
	.log-out-btn {
		padding: 0 15px;
		text-decoration: none;
		cursor: pointer;
	}
	.log-out-btn {
		justify-content: right;
	}
	.mode-toggle-btn {
		background: url('../../design-tokens/images/toggle-mode-icon.png') no-repeat;
		background-size: 40px;
		height: 40px;
		width: 40px;
		cursor: pointer;
	}
	.link {
		text-decoration: none;
		color: inherit;
		cursor: pointer;
	}
}
