.profile-list-container {
	max-width: 70ch;
	font-family: var(--main-font-family);
	color: var(--contrast-text-color);
	text-decoration: none;
	h1 {
		margin: 0;
		font-weight: 400;
		font-size: 30px;
	}
	.featured-profile,
	.loading {
		display: flex;
		width: 100%;
		background-color: var(--secondary-bg-color);
		border-radius: 5px;
		margin: 5px 0;
		&:hover {
			background: var(--primary-gradient);
		}
		.user-info {
			display: flex;
			flex-direction: column;
		}
		.profile-number {
			font-size: 40px;
			font-weight: 400;
		}
	}
	p {
		margin: 0;
		padding: 5px;
		min-width: 0;
		min-height: 0;
	}
}

@media only screen and (max-width: 700px) {
	.profile-list-container {
		display: none;
	}
}
