.logged-user-info-container {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	font-family: var(--main-font-family);
	font-size: 15px;
	color: var(--contrast-text-color);
	.logged-user-main {
		display: grid;
		grid-template-columns: auto auto;
		h3 {
			margin: 0;
			font-weight: 500;
		}
		.user-numbers {
			display: flex;
			p {
				padding: 0 10px;
				margin: 0;
			}
		}
	}
	.announce-text {
		margin: 10px 0 0 0;
		font-weight: 400;
	}
	.user-post {
		margin: 5px 0;
		padding: 5px 10px;
		background-color: var(--secondary-bg-color);
		border-radius: 3px;
		word-wrap: break-word;
		&:hover {
			background: var(--primary-gradient);
		}
	}
	a {
		text-decoration: none;
		color: var(--contrast-text-color);
	}
}

@media only screen and (max-width: 700px) {
	.logged-user-info-container {
		display: none;
	}
}
