.logged-user-info-container {
	display: flex;
	flex-direction: column;
	font-family: var(--main-font-family);
	color: var(--contrast-text-color);
	.logged-user-main {
		display: grid;
		grid-template-columns: auto auto;
		.user-numbers {
			display: flex;
			p {
				padding: 0 10px;
			}
		}
	}
}
