.home-page-body {
	display: flex;
	gap: 30px;
	min-height: calc(100vh - 60px); //60px for NavBar
	justify-content: space-between;
	background-color: var(--primary-bg-color);
	h1 {
		margin: 0;
	}
	> * {
		margin: 10px;
		flex-basis: 100%;
	}
}
.home-page-loader {
	text-align: center;
	font-size: 30px;
	font-family: var(--main-font-family);
	color: var(--contrast-text-color);
}
